<!-- <img class="coming-soon" src="/assets/coming_soon.jpg" /> -->
<div class="calendar-container">
  <!-- Tooltip template  -->
  <ng-template #tipContent><b>{{selectedEvent}}</b><br>{{selectedCountry}}</ng-template>
  <!-- Calendar -->
  <div class="calendar">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">January</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day">31</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">February</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">March</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day">31</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">April</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">May</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day">31</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">June</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day event color1" [ngbTooltip]="tipContent" #t2="ngbTooltip" (mouseover)="toggleTooltip(t2, 2)" (click)="toggleTooltip(t2, 2)">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">July</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day event color2" [ngbTooltip]="tipContent" #t1="ngbTooltip" (mouseover)="toggleTooltip(t1, 1)" (click)="toggleTooltip(t1, 1)">31</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">August</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day">31</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">September</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">October</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day">31</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">November</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="calendar-month">
          <div class="calendar-month-name">December</div>
          <div class="calendar-month-header">
            <div class="calendar-day">M</div>
            <div class="calendar-day">Tu</div>
            <div class="calendar-day">W</div>
            <div class="calendar-day">Th</div>
            <div class="calendar-day">F</div>
            <div class="calendar-day">Sa</div>
            <div class="calendar-day">Su</div>
          </div>
          <div class="calendar-month-body">
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day Spacer"></div>
            <div class="calendar-day">1</div>
            <div class="calendar-day">2</div>
            <div class="calendar-day">3</div>
            <div class="calendar-day">4</div>
            <div class="calendar-day">5</div>
            <div class="calendar-day">6</div>
            <div class="calendar-day">7</div>
            <div class="calendar-day">8</div>
            <div class="calendar-day">9</div>
            <div class="calendar-day">10</div>
            <div class="calendar-day">11</div>
            <div class="calendar-day">12</div>
            <div class="calendar-day">13</div>
            <div class="calendar-day">14</div>
            <div class="calendar-day">15</div>
            <div class="calendar-day">16</div>
            <div class="calendar-day">17</div>
            <div class="calendar-day">18</div>
            <div class="calendar-day">19</div>
            <div class="calendar-day">20</div>
            <div class="calendar-day">21</div>
            <div class="calendar-day">22</div>
            <div class="calendar-day">23</div>
            <div class="calendar-day">24</div>
            <div class="calendar-day">25</div>
            <div class="calendar-day">26</div>
            <div class="calendar-day">27</div>
            <div class="calendar-day">28</div>
            <div class="calendar-day">29</div>
            <div class="calendar-day">30</div>
            <div class="calendar-day">31</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
