<div class="profile-container">
  <header class="header-container">
    <div class="profile-photo-container">
      <img class="profile-photo" src="/assets/itraProfile.jpg" />
    </div>
    <div class="about-me-container">
      <h1>Marc Eiro</h1>
      <h2><span class="label">Sex: </span>Male</h2>
      <h2><span class="label">Age: </span>{{age}} years old (1984)</h2>
      <h2><span class="label">Nationality: </span>Spain</h2>
    </div>
  </header>
  <div _ngcontent-app-root-c3="" class="results">
    <div _ngcontent-app-root-c3="" class="itra-performance-index"><input _ngcontent-app-root-c3="" checked="" id="tab1" name="tabs" type="radio"><label _ngcontent-app-root-c3="" for="tab1"><i _ngcontent-app-root-c3="" class="fas fa-bullseye"></i>&nbsp;&nbsp;&nbsp;Performance
        Index</label><input _ngcontent-app-root-c3="" id="tab2" name="tabs" type="radio"><label _ngcontent-app-root-c3="" for="tab2"><i _ngcontent-app-root-c3="" class="fas fa-medal"></i>&nbsp;&nbsp;&nbsp;Ranking</label><input _ngcontent-app-root-c3=""
        id="tab3" name="tabs" type="radio"><label _ngcontent-app-root-c3="" for="tab3"><i _ngcontent-app-root-c3="" class="fas fa-route"></i>&nbsp;&nbsp;&nbsp;Route's Characteristics</label><input _ngcontent-app-root-c3="" id="tab4" name="tabs" type="radio"><label
        _ngcontent-app-root-c3="" for="tab4"><i _ngcontent-app-root-c3="" class="fas fa-chart-bar"></i>&nbsp;&nbsp;&nbsp;Statistics</label>
      <section _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" id="content1">
        <ngb-alert type="success" [dismissible]="false">
          <i class="fa fa-info-circle"></i>
          Only the five best results of the last 36 months are taken into account in the calculation of the ITRA performance index. For more details visit my <a href=" https://itra.run/community/marc.eiro/572326/" target="blank">official ITRA
            profile</a>.
        </ngb-alert>
        <h1 _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Overall</h1>
        <table _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" cellspacing="0">
          <thead _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Trail Category</th>
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">New Performance Index (/1000)</th>
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Previous Performance Index (/1000)</th>
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Best Performance Index Men</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">GENERAL</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">698</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">692</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">953</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">XXL</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">-</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">-</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">941</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">XL</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">641</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">635</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">911</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">L</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">607</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">604</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">900</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">M</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">544</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">551</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">930</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">S</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">698</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">692</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">950</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">XS</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">-</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">-</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">911</td>
            </tr>
          </tbody>
        </table><br _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
        <h1 _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Detailed</h1>
        <table _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" cellspacing="0">
          <thead _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Date</th>
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Name of the Race</th>
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Distance / D+</th>
              <th _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Score</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, October 5, 2019</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Salomon Ultra Pirineu 2019 - Ultra Pirineu</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">94.7km / 6275m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">658</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, July 20, 2019</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Andorra Ultra Trail Vallnord 2019 - Celestrail</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">83km / 5000m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">623</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Fri, June 28, 2019</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">La Sportiva Lavaredo Ultra Trail 2019 - Cortina Trail</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">47.6km / 2725m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">717</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Fri, April 12, 2019</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">100 Miles Of Istria 2019 - Blue</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">111.4km / 4875m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">593</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Fri, August 31, 2018</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Utmb® 2018 - Ccc®</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">100.1km / 6075m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">622</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, July 14, 2018</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Eiger Ultra-Trail® 2018 - E101 Stop Km85</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">85.1km / 5175m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">618</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, May 19, 2018</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Transylvania One Hundred 2018 - 80K</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">85.9km / 4850m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">595</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sun, August 13, 2017</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Trail Des Fantomes 2017 - 48 Km</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">49.5km / 1500m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">632</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, July 15, 2017</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Trail Vielha-Molieres 3010 2017 - Maratón</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">40.7km / 4000m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">571</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Fri, June 23, 2017</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">The North Face Lavaredo Ultra Trail 2017 - Lavaredo Ultra Trail</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">119.4km / 6450m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">527</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, February 25, 2017</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Transgrancanaria Hg 2017 - Advanced</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">81.2km / 3575m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">595</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, August 20, 2016</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Matterhorn Ultraks 2016 - Matterhorn Ultraks 45K</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">46.6km / 3525m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">612</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, July 16, 2016</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Eiger Ultra Trail 2016 - E51</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">52.4km / 3025m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">548</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, June 4, 2016</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Ultra Skymarathon® Madeira 2016 - Usm</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">54.8km / 4575m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">491</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, March 14, 2015</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">The Hillary 2015 - 34 Km</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">32.5km / 1325m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">606</td>
            </tr>
            <tr _ngcontent-app-root-c3="" _ngcontent-app-root-c4="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Sat, February 7, 2015</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">Tarawera 100 Mile Endurance Run 2015 - 100 Km</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">102.9km / 2625m+</td>
              <td _ngcontent-app-root-c3="" _ngcontent-app-root-c4="">499</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section _ngcontent-app-root-c3="" id="content2">
        <table _ngcontent-app-root-c3="" cellspacing="0">
          <thead _ngcontent-app-root-c3="">
            <tr _ngcontent-app-root-c3="">
              <th _ngcontent-app-root-c3="">Date</th>
              <th _ngcontent-app-root-c3="">Name of the Race</th>
              <th _ngcontent-app-root-c3="">Distance / D+</th>
              <th _ngcontent-app-root-c3="">Country</th>
              <th _ngcontent-app-root-c3="">Status</th>
              <th _ngcontent-app-root-c3="">Time</th>
              <th _ngcontent-app-root-c3="">Ranking</th>
              <th _ngcontent-app-root-c3="">Ranking Male</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="">
            <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, October 5, 2019</td>
              <td _ngcontent-app-root-c3="">Salomon Ultra Pirineu 2019 - Ultra Pirineu</td>
              <td _ngcontent-app-root-c3="">94.7km / 6275m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Spain</td>
              <td _ngcontent-app-root-c3="">14:26:06</td>
              <td _ngcontent-app-root-c3="">90 / 782</td>
              <td _ngcontent-app-root-c3="">82</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 20, 2019</td>
              <td _ngcontent-app-root-c3="">Andorra Ultra Trail Vallnord 2019 - Celestrail</td>
              <td _ngcontent-app-root-c3="">83km / 5000m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Andorra</td>
              <td _ngcontent-app-root-c3="">14:22:50</td>
              <td _ngcontent-app-root-c3="">26 / 242</td>
              <td _ngcontent-app-root-c3="">24</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, June 28, 2019</td>
              <td _ngcontent-app-root-c3="">La Sportiva Lavaredo Ultra Trail 2019 - Cortina Trail</td>
              <td _ngcontent-app-root-c3="">47.6km / 2725m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Italy</td>
              <td _ngcontent-app-root-c3="">05:34:04</td>
              <td _ngcontent-app-root-c3="">27 / 1501</td>
              <td _ngcontent-app-root-c3="">26</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, April 12, 2019</td>
              <td _ngcontent-app-root-c3="">100 Miles Of Istria 2019 - Blue</td>
              <td _ngcontent-app-root-c3="">111.4km / 4875m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Croatia</td>
              <td _ngcontent-app-root-c3="">15:45:14</td>
              <td _ngcontent-app-root-c3="">38 / 311</td>
              <td _ngcontent-app-root-c3="">34</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, August 31, 2018</td>
              <td _ngcontent-app-root-c3="">Utmb® 2018 - Ccc®</td>
              <td _ngcontent-app-root-c3="">100.1km / 6075m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">France</td>
              <td _ngcontent-app-root-c3="">15:45:57</td>
              <td _ngcontent-app-root-c3="">150 / 1622</td>
              <td _ngcontent-app-root-c3="">136</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 14, 2018</td>
              <td _ngcontent-app-root-c3="">Eiger Ultra-Trail® 2018 - E101 Stop Km85</td>
              <td _ngcontent-app-root-c3="">85.1km / 5175m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Switzerland</td>
              <td _ngcontent-app-root-c3="">11:48:29</td>
              <td _ngcontent-app-root-c3="">14 / 470</td>
              <td _ngcontent-app-root-c3="">14</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, May 19, 2018</td>
              <td _ngcontent-app-root-c3="">Transylvania One Hundred 2018 - 80K</td>
              <td _ngcontent-app-root-c3="">85.9km / 4850m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Romania</td>
              <td _ngcontent-app-root-c3="">15:06:06</td>
              <td _ngcontent-app-root-c3="">8 / 53</td>
              <td _ngcontent-app-root-c3="">8</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sun, August 13, 2017</td>
              <td _ngcontent-app-root-c3="">Trail Des Fantomes 2017 - 48 Km</td>
              <td _ngcontent-app-root-c3="">49.5km / 1500m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Belgium</td>
              <td _ngcontent-app-root-c3="">05:38:21</td>
              <td _ngcontent-app-root-c3="">17 / 210</td>
              <td _ngcontent-app-root-c3="">17</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 15, 2017</td>
              <td _ngcontent-app-root-c3="">Trail Vielha-Molieres 3010 2017 - Maratón</td>
              <td _ngcontent-app-root-c3="">40.7km / 4000m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Spain</td>
              <td _ngcontent-app-root-c3="">09:02:23</td>
              <td _ngcontent-app-root-c3="">79 / 308</td>
              <td _ngcontent-app-root-c3="">76</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, June 23, 2017</td>
              <td _ngcontent-app-root-c3="">The North Face Lavaredo Ultra Trail 2017 - Lavaredo Ultra Trail</td>
              <td _ngcontent-app-root-c3="">119.4km / 6450m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Italy</td>
              <td _ngcontent-app-root-c3="">21:16:15</td>
              <td _ngcontent-app-root-c3="">303 / 1070</td>
              <td _ngcontent-app-root-c3="">277</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, February 25, 2017</td>
              <td _ngcontent-app-root-c3="">Transgrancanaria Hg 2017 - Advanced</td>
              <td _ngcontent-app-root-c3="">81.2km / 3575m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Spain</td>
              <td _ngcontent-app-root-c3="">11:19:20</td>
              <td _ngcontent-app-root-c3="">78 / 440</td>
              <td _ngcontent-app-root-c3="">69</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, August 20, 2016</td>
              <td _ngcontent-app-root-c3="">Matterhorn Ultraks 2016 - Matterhorn Ultraks 45K</td>
              <td _ngcontent-app-root-c3="">46.6km / 3525m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Switzerland</td>
              <td _ngcontent-app-root-c3="">07:01:51</td>
              <td _ngcontent-app-root-c3="">93 / 452</td>
              <td _ngcontent-app-root-c3="">80</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 16, 2016</td>
              <td _ngcontent-app-root-c3="">Eiger Ultra Trail 2016 - E51</td>
              <td _ngcontent-app-root-c3="">52.4km / 3025m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Switzerland</td>
              <td _ngcontent-app-root-c3="">08:01:10</td>
              <td _ngcontent-app-root-c3="">106 / 638</td>
              <td _ngcontent-app-root-c3="">91</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, June 4, 2016</td>
              <td _ngcontent-app-root-c3="">Ultra Skymarathon® Madeira 2016 - Usm</td>
              <td _ngcontent-app-root-c3="">54.8km / 4575m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">Portugal</td>
              <td _ngcontent-app-root-c3="">10:40:51</td>
              <td _ngcontent-app-root-c3="">111 / 165</td>
              <td _ngcontent-app-root-c3="">94</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, March 14, 2015</td>
              <td _ngcontent-app-root-c3="">The Hillary 2015 - 34 Km</td>
              <td _ngcontent-app-root-c3="">32.5km / 1325m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">New Zealand</td>
              <td _ngcontent-app-root-c3="">03:53:39</td>
              <td _ngcontent-app-root-c3="">13 / 110</td>
              <td _ngcontent-app-root-c3="">11</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, February 7, 2015</td>
              <td _ngcontent-app-root-c3="">Tarawera 100 Mile Endurance Run 2015 - 100 Km</td>
              <td _ngcontent-app-root-c3="">102.9km / 2625m+</td>
              <td _ngcontent-app-root-c3="">Finisher</td>
              <td _ngcontent-app-root-c3="">New Zealand</td>
              <td _ngcontent-app-root-c3="">14:08:48</td>
              <td _ngcontent-app-root-c3="">247 / 431</td>
              <td _ngcontent-app-root-c3="">187</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section _ngcontent-app-root-c3="" id="content3">
        <table _ngcontent-app-root-c3="" cellspacing="0">
          <thead _ngcontent-app-root-c3="">
            <tr _ngcontent-app-root-c3="">
              <th _ngcontent-app-root-c3="">Date</th>
              <th _ngcontent-app-root-c3="">Name of the Race</th>
              <th _ngcontent-app-root-c3="">Distance / D+</th>
              <th _ngcontent-app-root-c3="">Qualifying Race</th>
              <th _ngcontent-app-root-c3="">Route Certified</th>
              <th _ngcontent-app-root-c3="">Endurance</th>
              <th _ngcontent-app-root-c3="">Mountain</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="">
            <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, October 5, 2019</td>
              <td _ngcontent-app-root-c3="">Salomon Ultra Pirineu 2019 - Ultra Pirineu</td>
              <td _ngcontent-app-root-c3="">94.7km / 6275m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "5",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">5 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "9",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">9 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 20, 2019</td>
              <td _ngcontent-app-root-c3="">Andorra Ultra Trail Vallnord 2019 - Celestrail</td>
              <td _ngcontent-app-root-c3="">83km / 5000m+</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, June 28, 2019</td>
              <td _ngcontent-app-root-c3="">La Sportiva Lavaredo Ultra Trail 2019 - Cortina Trail</td>
              <td _ngcontent-app-root-c3="">47.6km / 2725m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <!--bindings={
    "ng-reflect-ng-if": "3",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">3 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "7",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">7 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, April 12, 2019</td>
              <td _ngcontent-app-root-c3="">100 Miles Of Istria 2019 - Blue</td>
              <td _ngcontent-app-root-c3="">111.4km / 4875m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <!--bindings={
    "ng-reflect-ng-if": "5",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">5 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "6",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">6 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, August 31, 2018</td>
              <td _ngcontent-app-root-c3="">Utmb® 2018 - Ccc®</td>
              <td _ngcontent-app-root-c3="">100.1km / 6075m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <!--bindings={
    "ng-reflect-ng-if": "5",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">5 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "8",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">8 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 14, 2018</td>
              <td _ngcontent-app-root-c3="">Eiger Ultra-Trail® 2018 - E101 Stop Km85</td>
              <td _ngcontent-app-root-c3="">85.1km / 5175m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "4",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">4 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "8",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">8 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, May 19, 2018</td>
              <td _ngcontent-app-root-c3="">Transylvania One Hundred 2018 - 80K</td>
              <td _ngcontent-app-root-c3="">85.9km / 4850m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "4",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">4 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "8",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">8 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sun, August 13, 2017</td>
              <td _ngcontent-app-root-c3="">Trail Des Fantomes 2017 - 48 Km</td>
              <td _ngcontent-app-root-c3="">49.5km / 1500m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "3",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">3 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "3",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">3 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 15, 2017</td>
              <td _ngcontent-app-root-c3="">Trail Vielha-Molieres 3010 2017 - Maratón</td>
              <td _ngcontent-app-root-c3="">40.7km / 4000m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "3",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">3 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "12",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">12 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Fri, June 23, 2017</td>
              <td _ngcontent-app-root-c3="">The North Face Lavaredo Ultra Trail 2017 - Lavaredo Ultra Trail</td>
              <td _ngcontent-app-root-c3="">119.4km / 6450m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "5",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">5 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "7",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">7 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, February 25, 2017</td>
              <td _ngcontent-app-root-c3="">Transgrancanaria Hg 2017 - Advanced</td>
              <td _ngcontent-app-root-c3="">81.2km / 3575m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <!--bindings={
    "ng-reflect-ng-if": "4",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">4 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "5",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">5 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, August 20, 2016</td>
              <td _ngcontent-app-root-c3="">Matterhorn Ultraks 2016 - Matterhorn Ultraks 45K</td>
              <td _ngcontent-app-root-c3="">46.6km / 3525m+</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, July 16, 2016</td>
              <td _ngcontent-app-root-c3="">Eiger Ultra Trail 2016 - E51</td>
              <td _ngcontent-app-root-c3="">52.4km / 3025m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "3",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">3 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "7",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">7 points</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, June 4, 2016</td>
              <td _ngcontent-app-root-c3="">Ultra Skymarathon® Madeira 2016 - Usm</td>
              <td _ngcontent-app-root-c3="">54.8km / 4575m+</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, March 14, 2015</td>
              <td _ngcontent-app-root-c3="">The Hillary 2015 - 34 Km</td>
              <td _ngcontent-app-root-c3="">32.5km / 1325m+</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">No</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!---->
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">Sat, February 7, 2015</td>
              <td _ngcontent-app-root-c3="">Tarawera 100 Mile Endurance Run 2015 - 100 Km</td>
              <td _ngcontent-app-root-c3="">102.9km / 2625m+</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <td _ngcontent-app-root-c3="">Yes</td>
              <!--bindings={
    "ng-reflect-ng-if": "4",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">4 points</td>
              <!--bindings={
    "ng-reflect-ng-if": "",
    "ng-reflect-ng-if-else": "[object Object]"
  }-->
              <td _ngcontent-app-root-c3="">-</td>
              <!---->
            </tr>
          </tbody>
        </table>
      </section>
      <section _ngcontent-app-root-c3="" id="content4">
        <h1 _ngcontent-app-root-c3="">Men's ITRA World Ranking</h1>
        <table _ngcontent-app-root-c3="" cellspacing="0">
          <thead _ngcontent-app-root-c3="">
            <tr _ngcontent-app-root-c3="">
              <th _ngcontent-app-root-c3="">Trail Category</th>
              <th _ngcontent-app-root-c3="">ITRA's Performance Index</th>
              <th _ngcontent-app-root-c3="">World Ranking</th>
              <th _ngcontent-app-root-c3="">Ranking Europe</th>
              <th _ngcontent-app-root-c3="">Ranking Spain</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="">
            <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">GENERAL</td>
              <td _ngcontent-app-root-c3="">698</td>
              <td _ngcontent-app-root-c3="">10481</td>
              <td _ngcontent-app-root-c3="">7153</td>
              <td _ngcontent-app-root-c3="">1745</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">XXL</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">-</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">XL</td>
              <td _ngcontent-app-root-c3="">641</td>
              <td _ngcontent-app-root-c3="">2916</td>
              <td _ngcontent-app-root-c3="">2170</td>
              <td _ngcontent-app-root-c3="">578</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">L</td>
              <td _ngcontent-app-root-c3="">607</td>
              <td _ngcontent-app-root-c3="">7677</td>
              <td _ngcontent-app-root-c3="">5354</td>
              <td _ngcontent-app-root-c3="">1246</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">M</td>
              <td _ngcontent-app-root-c3="">544</td>
              <td _ngcontent-app-root-c3="">39142</td>
              <td _ngcontent-app-root-c3="">27973</td>
              <td _ngcontent-app-root-c3="">5798</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">S</td>
              <td _ngcontent-app-root-c3="">698</td>
              <td _ngcontent-app-root-c3="">4731</td>
              <td _ngcontent-app-root-c3="">3293</td>
              <td _ngcontent-app-root-c3="">873</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">XS</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">-</td>
              <td _ngcontent-app-root-c3="">-</td>
            </tr>
          </tbody>
        </table><br _ngcontent-app-root-c3="">
        <h1 _ngcontent-app-root-c3="">Best Performances</h1>
        <table _ngcontent-app-root-c3="" cellspacing="0">
          <thead _ngcontent-app-root-c3="">
            <tr _ngcontent-app-root-c3="">
              <th _ngcontent-app-root-c3="">Trail Category</th>
              <th _ngcontent-app-root-c3="">Date</th>
              <th _ngcontent-app-root-c3="">Name of the race</th>
              <th _ngcontent-app-root-c3="">Distance / D+</th>
              <th _ngcontent-app-root-c3="">Country</th>
              <th _ngcontent-app-root-c3="">Time</th>
              <th _ngcontent-app-root-c3="">Rank.</th>
              <th _ngcontent-app-root-c3="">Rank. M</th>
              <th _ngcontent-app-root-c3="">Score</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="">
            <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">GENERAL</td>
              <td _ngcontent-app-root-c3="">2019-06-28</td>
              <td _ngcontent-app-root-c3="">La Sportiva Lavaredo Ultra Trail 2019 - Cortina Trail</td>
              <td _ngcontent-app-root-c3="">47.6km / 2725m+</td>
              <td _ngcontent-app-root-c3="">Italy</td>
              <td _ngcontent-app-root-c3="">05:34:04</td>
              <td _ngcontent-app-root-c3="">27 / 1501</td>
              <td _ngcontent-app-root-c3="">26</td>
              <td _ngcontent-app-root-c3="">717</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">XL</td>
              <td _ngcontent-app-root-c3="">2019-10-05</td>
              <td _ngcontent-app-root-c3="">Salomon Ultra Pirineu 2019 - Ultra Pirineu</td>
              <td _ngcontent-app-root-c3="">94.7km / 6275m+</td>
              <td _ngcontent-app-root-c3="">Spain</td>
              <td _ngcontent-app-root-c3="">14:26:06</td>
              <td _ngcontent-app-root-c3="">90 / 782</td>
              <td _ngcontent-app-root-c3="">82</td>
              <td _ngcontent-app-root-c3="">658</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">L</td>
              <td _ngcontent-app-root-c3="">2019-07-20</td>
              <td _ngcontent-app-root-c3="">Andorra Ultra Trail Vallnord 2019 - Celestrail</td>
              <td _ngcontent-app-root-c3="">83km / 5000m+</td>
              <td _ngcontent-app-root-c3="">Andorra</td>
              <td _ngcontent-app-root-c3="">14:22:50</td>
              <td _ngcontent-app-root-c3="">26 / 242</td>
              <td _ngcontent-app-root-c3="">24</td>
              <td _ngcontent-app-root-c3="">623</td>
            </tr>
            <tr _ngcontent-app-root-c3="" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">M</td>
              <td _ngcontent-app-root-c3="">2016-08-20</td>
              <td _ngcontent-app-root-c3="">Matterhorn Ultraks 2016 - Matterhorn Ultraks 45K</td>
              <td _ngcontent-app-root-c3="">46.6km / 3525m+</td>
              <td _ngcontent-app-root-c3="">Switzerland</td>
              <td _ngcontent-app-root-c3="">07:01:51</td>
              <td _ngcontent-app-root-c3="">93 / 452</td>
              <td _ngcontent-app-root-c3="">80</td>
              <td _ngcontent-app-root-c3="">612</td>
            </tr>
            <tr _ngcontent-app-root-c3="" class="even" ng-reflect-ng-class="[object Object]">
              <td _ngcontent-app-root-c3="">S</td>
              <td _ngcontent-app-root-c3="">2019-06-28</td>
              <td _ngcontent-app-root-c3="">La Sportiva Lavaredo Ultra Trail 2019 - Cortina Trail</td>
              <td _ngcontent-app-root-c3="">47.6km / 2725m+</td>
              <td _ngcontent-app-root-c3="">Italy</td>
              <td _ngcontent-app-root-c3="">05:34:04</td>
              <td _ngcontent-app-root-c3="">27 / 1501</td>
              <td _ngcontent-app-root-c3="">26</td>
              <td _ngcontent-app-root-c3="">717</td>
            </tr>
          </tbody>
        </table><br _ngcontent-app-root-c3="">
        <h1 _ngcontent-app-root-c3="">Other Statistical Data</h1>
        <table _ngcontent-app-root-c3="" cellspacing="0">
          <thead _ngcontent-app-root-c3="">
            <tr _ngcontent-app-root-c3="">
              <th _ngcontent-app-root-c3="">Number of Races</th>
              <th _ngcontent-app-root-c3="">Number of Races Finished</th>
              <th _ngcontent-app-root-c3="">Victories</th>
              <th _ngcontent-app-root-c3="">Top 3</th>
              <th _ngcontent-app-root-c3="">Top 10</th>
              <th _ngcontent-app-root-c3="">KM Covered</th>
              <th _ngcontent-app-root-c3="">D+ Covered</th>
            </tr>
          </thead>
          <tbody _ngcontent-app-root-c3="">
            <!--bindings={
    "ng-reflect-ng-if": "[object Object]"
  }-->
            <tr _ngcontent-app-root-c3="">
              <td _ngcontent-app-root-c3="">16</td>
              <td _ngcontent-app-root-c3="">16</td>
              <td _ngcontent-app-root-c3="">0</td>
              <td _ngcontent-app-root-c3="">0</td>
              <td _ngcontent-app-root-c3="">1</td>
              <td _ngcontent-app-root-c3="">1188 km</td>
              <td _ngcontent-app-root-c3="">65615 m</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
