<div class="comments-container">
  <div class="left-container" [ngClass]="{'left-container-on' : showCommentBox}">

    <form #feedbackForm="ngForm">
      {{diagnostic}}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="author" #name="ngModel" required>
      </div>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="comment.email" #mail="ngModel" required>
      </div>
      <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger">
        Email address is required
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea type="text" class="form-control" id="comment" name="comment" [(ngModel)]="text" #comment="ngModel" required rows="8" cols="80"></textarea>
      </div>
      <div [hidden]="comment.valid || comment.pristine" class="alert alert-danger">
        Don't forget to add your comment!
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!feedbackForm.form.valid" (click)="newFeedback(); feedbackForm.reset()">Submit</button>
    </form>

    <div class="pull" (click)="showCommentBox = !showCommentBox;" [ngClass]="{'push' : showCommentBox}">
      <span class="vertical-text">Leave your feedback</span>
    </div>
  </div>
  <div class="right-container">
    <section id="app" class="comments">
      <blockquote [ngClass]="getRandomColor()" *ngFor="let comment of comments">
        <h1>
          <span>{{comment.author}}</span>
        </h1>
        <time>{{comment.date | date:'EEE, MMMM d, yyyy'}}</time>
        <div class="like-data">
          <button class="icon-rocknroll active">♥<span class="like-count active">{{comment.likes}}</span></button>
        </div>
        <p>{{comment.text}}</p>
      </blockquote>
    </section>
  </div>
</div>

<!-- Google Captcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
  function recaptcha_callback() {
    var submitCommentButton = document.getElementById('submit-comment');
    submitCommentButton.removeAttribute('disabled');
    submitCommentButton.classList.remove('disabled');
  };

  function recaptcha_expired_callback() {
    var submitCommentButton = document.getElementById('submit-comment');
    submitCommentButton.setAttribute('disabled', 'disabled');
    submitCommentButton.classList.add('disabled');
  };

  function recaptcha_error_callback() {
    recaptcha_expired_callback();
  };
</script>