<div class="home-container">
  <!-- <article class="news-container">
    <div class="welcome">
      <div class="welcome-text">
        <h1>Welcome to www.runmarc.io !</h1>
        <br /><br />
        <p>Today is a very exciting day, as I can finally welcome you into my personal space. This is about opening you the door to one of my biggest passions in life, running, and a way to share my histories and experiences with you all.</p>
        <br />
        <p>Come in and enjoy !</p>
      </div>
    </div>
  </article> -->
  <article class="news-container  first">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Welcome to www.runmarc.io !</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="1.1.2019" itemprop="datePublished" pubdate="">1 January 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
      <!-- <li class="meta-comments comment-scroll"><span class="fa fa-comment" aria-hidden="true"></span>23 Comments</li> -->
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>I am very happy to welcome you into my personal space, a project in which I’ve been working on for the last few months. This is about opening you the door to one of my biggest passions in life, and a way to share with you my running
        memories and experiences.</p>
      <p>My intention is to use this website as a log, a living place where I record and document my running life, a place where people can visit and learn a little bit more about myself. Because in the end is all about sharing, about letting others
        taste a bit of what I enjoy the most.</p>
      <p>Enjoy! :)</p>
    </div>
  </article>
  <div class="separator"></div>
  <article class="news-container ">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Unsuccessful draw for UTMB CCC</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="10.1.2019" itemprop="datePublished" pubdate="">10 January 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
      <!-- <li class="meta-comments comment-scroll"><span class="fa fa-comment" aria-hidden="true"></span>23 Comments</li> -->
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>Building your own blogging site from scratch will initially require a little bit of effort, especially in the department of design. Choosing the right template for your blogging site can be a tedious process, and only because there are so
        many choices to choose from. Colors, font choices and alternations, navigation menu placements, social media integration amongst other things are the features one will want to pay attention to the most, while it’s easy to build a personal
        blog style that reflects versatile thinking, we also want to ensure that our readers are happy with our choices, though it’s important to leave an imprint of personality in every design.</p>
      <p>The following free Bootstrap blog templates we are about to explore have all been carefully selected with the latest web design aveends in mind, as well as to provide a simple templating system where you can easily make and alter any kind
        of elements that perhaps you feel are obsolete to your vision of a good looking blog. Whether to launch a standalone blog site, or to incorporate any of the following templates in your existing websites, these designs are going to provide
        an easy to consume content experience that you will come to realize is so important to a successful blogging path.</p>
      <p>&nbsp;</p>
    </div>
  </article>
</div>