<div class="home-container">
  <!--article class="news-container  first">
  <header class="single-blog-header ">
    <h1 class="single-post-title entry-title" itemprop="headline"></h1>
  </header>
  <ul class="meta">
    <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="1.1.2019" itemprop="datePublished" pubdate="">1 January 2019</time></li>
    <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
  </ul>
  <div class="single-blog-content entry " itemprop="text">
    <p>blah, blah</p>
  </div>
</article>
<div class="separator"></div-->
  <article class="news-container">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Skyline times</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="1.1.2019" itemprop="datePublished" pubdate="">18 September 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>Soon I'll go to Scotland and will participate in the Ben Nevis Ultra Trail, a cool race part of the sky runner series which takes place in the middle of the Highlands. So nearly 11 years after, I am going back there to see those misty
        mountains and foggy landscapes that captivated me so much that first time. Back then those mountains looked like big and unreachable, and now I will be riding their ridges and summiting some of its peaks.</p>
      <p>When I think about races such as the Ben Nevis I get specially excited. They tend to be shorter in distance but usually packed with many cool features and technical sections full of rocks, roots and up and downs. In essence, I love sky
        running. This is perhaps the discipline that I like the most, mainly because their challenge and because they require a higher level of concentration and synergy with the environment that surrounds you in order to excel. Your mind must be
        focus at all moments, working out the best option you have to get through usually complicated terrain as fast as you can. In an essence it feels a bit like problem solving, something that I particularly like and enjoy doing. I still remember
        the first time I ran a sky race (USM Madeira 2016), it felt much like the first time I ran a trail running race; I totally got hooked to it. Tough climbs, endless downhills, dramatic sceneries... These races are hard, but enduring them
        has never felt so rewarding.</p>
      <p>When at first I looked at the Skyline Scotland series my intention was to participate in the Glen Coe Skyline, however after having a closer look I would say I felt a bit too overwhelmed. The Glen Coe advertises multiple ridge passes and
        climbing sections, some up to Grade III scramble (or 'Moderate' graded rock climbs), where runners have to present prove of their climbing experience during the registration process, something which I do not have. I love scrambling and have
        climbed a few times in my life, but I certainly cannot prove it over paper, so I guess that pulled me back and made me sign up for the Ben Nevis.</p>
      <p>Scotland, see ye efter!</p>
    </div>
  </article>
  <div class="separator"></div>
  <article class="news-container">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">A friend's visit</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="22.06.2019" itemprop="datePublished" pubdate="">22 June 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>A few weeks ago an old friend came to visit me in Germany. It was a nice and relaxing weekend’s visit. Was good to catch up and sync with the latest stories, and after he left the visit felt definitely short. I was waiting for this weekend
        to come since last autumn, and he finally made it now when the days are longer and the weather is warm.</p>
      <p>Since he is very sporty, a passionate cyclist and runner, I could not let him go without taking him to the woods for a run or two, a place where I get to spend a considerably big amount of time nowadays. The plan was to show him how my
        morning/evenings runs look like, something I was particularly excited for. Firstly because I’m used to run most of the time on my own, and secondly because I was eager to share those beautiful trails that I know so well with him.</p>
      <p>And he loved it. He got marvelled with the astonishing bright green colour of the leaves, a forest that had woken up with fiercely strength after a cold long winter. The tiny and fun trails, the windy short sections of descents and ascends,
        the
        reminiscences of an old monastery, tower look ups and so on, that make this place a very special one. And I was glad to share it, to share a place that today is a very important part of my life.</p>
      <video controls>
        <source src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/eduVisit/heidelberg_morning_run_2019.05.18.mp4" type="video/mp4"></video>
    </div>
  </article>
  <div class="separator"></div>

  <article class="news-container ">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Istria stories</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="30.05.2019" itemprop="datePublished" pubdate="">30 May 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
      <!-- <li class="meta-comments comment-scroll"><span class="fa fa-comment" aria-hidden="true"></span>23 Comments</li> -->
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>This was one of these spontaneous, last minute signs up, where things somehow line up in a way that is impossible to say miss out. It started as an unexpected trip and ended up being an outstanding 4 days stay in beautiful Croatia. My
        Croatian friend Roko came to pick me up in Trieste’s airport, something that always makes you feel welcomed in a different way. He is the perfect host and part of the reason why things went that awesomely well.</p>
      <p>
        A not so quick 2h drive put us down in Umag, a little town in the north-west part of the Croatian coast. This is where the race organisers have chosen to host the Istria Ultra Trail event, competition nowadays part of the world cup. Later in
        the afternoon we headed towards the sports centre to collect our race packs. We managed to get through the line pretty quickly so we still had time to have a short walk around Umag’s beautiful old city centre.
      </p>
      <div class="photo-container">
        <img src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/istria2019/istria-crew.jpg" alt="istria-crew" class="double-column-left">
        <img src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/istria2019/IMG_20190411_142715.jpg" alt="istria-participants-list" class="double-column-right">
      </div>
      <p>Next day was race day, one of those days that feel longer than usual because of all the excitement and tension, which you can’t release until the very end of the day when night falls and the race starts. So a bit of eating, a bit of
        sleeping, a bit of chatting and enjoying time with friends, until we had to head towards the bus that would take us to the start line.</p>
      <p>Two hours later we were in Lovran, a tiny village next to the sea on the Istrian east coast. It was dark, a bit cold and drizzling, but I was so excited and enthusiastic that it felt like a warm, pleasant summer night. Minutes before the
        race started my friend and I lined up in the most upfront lines, along with some of his acquaintances. The air felt refreshing and people were saluting and congratulating each other, which felt beautiful. Seeing that general good mood and
        vibes hit me profoundly, so much that since then until the race started I could not stop smiling.
      </p>
      <div class="photo-container">
        <img src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/istria2019/57821669_1383567271791904_8269704888426954752_o.jpg" alt="istria-prerace" class="double-column-left">
        <img src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/istria2019/58379212_1383722621776369_5245160129417969664_o.jpg" alt="istria-photo-start" class="double-column-right">
      </div>
      <p>The race started and so did the climb, as +1400 meters where ahead of us before reaching our first summit, in between high wind, snow and darkness. Headlamp beams were lighting the way, and we followed as fast as we could to get down again
        and get away from the cold, which on the peak was around -2 degrees Celsius. Through high spirits and energy full, my friend and I cruised along from valleys and peaks until the night was gone and the morning welcomed us. I believe it was
        mid morning when we made it to Buzet, a bit over half way through the race, where we did a rather long stop to recover energy, change clothes and restock provisions. Thing is, once you get to Buzet the worst is over. From there on the path
        mainly flattens and descends towards the sea, a good point to check on how well you are doing.</p>
      <p>From there on time clocked fast and we managed to stay fairly at the head of the course right behind most of the fastest runners, even after getting a bit lost in couple of occasions and doing some extra k’s. The last 50k are runnable and
        fast, but the level of energy decays and the mood not always helps to go through in an enjoyable way. Still, I was in pretty good shape and so was Roko, so we kept on going quite comfortably for most part of the last stage. From time to time
        we found a new runner on our way, and as we were approaching I could feel how stronger and faster we were, in part because we were simply running together, running with a friend, which gives you a plus of energy and
        strength that you don't have otherwise. Mutual energy sharing that after so many kilometres comes more from the head and soul than from the legs, keeps you alive and moving. This is the beauty of ultra running, the reason I like it so much.
        It is a long journey where the physical becomes spiritual, and once you get there you are in a different world.</p>
      <p>In the last 20k I ran alone (my friend got ITB problems and had to slow down), occasionally crossing other runners from shorter distances. Those 20k felt like 40 but luckily were flat. There was only one thing in my head - finishing the
        race. I stopped for quick water refills in the last 2 stations and even increased my pace in the last 10k. When I got to town things cleared out in my head, and while running the last 500m, memories of hours ago running with my friend
        towards the bus under the rain came to my mind, reminding me how much had happened since then. And without realising, I crossed the finish line.</p>
      <div class="photo-container end">
        <img src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/istria2019/photo-finish.jpg" alt="istria-2019-photo-finish-1" class="double-column-left">
        <img src="https://s3.eu-west-2.amazonaws.com/runmarc.io/home/istria2019/IMG_20190414_093954.jpg" alt="istria-2019-photo-finish-2" class="double-column-right">
      </div>
      <span>&nbsp;</span>
      <p>PS: Check on Timeline for more!</p>
    </div>
  </article>
  <div class="separator"></div>

  <article class="news-container  ">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Welcome to www.runmarc.io !</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="1.1.2019" itemprop="datePublished" pubdate="">1 January 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
      <!-- <li class="meta-comments comment-scroll"><span class="fa fa-comment" aria-hidden="true"></span>23 Comments</li> -->
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>I am very happy to welcome you into my personal space, a project in which I’ve been working on for the last few months. This is about opening you the door to one of my biggest passions in life, and a way to share with you my running
        memories and experiences.</p>
      <p>My intention is to use this website as a log, a living place where I record and document my running life, a place where people can visit and learn a little bit more about myself. Because in the end is all about sharing, about letting others
        taste a bit of what you enjoy the most.</p>
      <p>One love :)</p>
    </div>
  </article>
</div>