<div class="home-container">
  <!-- <article class="news-container">
    <div class="welcome">
      <div class="welcome-text">
        <h1>Welcome to www.runmarc.io !</h1>
        <br /><br />
        <p>Today is a very exciting day, as I can finally welcome you into my personal space. This is about opening you the door to one of my biggest passions in life, running, and a way to share my histories and experiences with you all.</p>
        <br />
        <p>Come in and enjoy !</p>
      </div>
    </div>
  </article> -->
  <article class="news-container  first">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Welcome to www.runmarc.io !</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="1.1.2019" itemprop="datePublished" pubdate="">1 January 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
      <!-- <li class="meta-comments comment-scroll"><span class="fa fa-comment" aria-hidden="true"></span>23 Comments</li> -->
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>I am very happy to welcome you into my personal space, a project in which I’ve been working on for the last few months. This is about opening you the door to one of my biggest passions in life, and a way to share with you my running
        memories and experiences.</p>
      <p>My intention is to use this website as a log, a living place where I record and document my running life, a place where people can visit and learn a little bit more about myself. Because in the end is all about sharing, about letting others
        taste a bit of what I enjoy the most.</p>
      <p>Enjoy! :)</p>
    </div>
  </article>
  <div class="separator"></div>
  <article class="news-container ">
    <header class="single-blog-header ">
      <h1 class="single-post-title entry-title" itemprop="headline">Unsuccessful draw for UTMB CCC</h1>
    </header>
    <ul class="meta">
      <li class="meta-date"><span class="fas fa-clock" aria-hidden="true"></span><time class="updated" datetime="10.1.2019" itemprop="datePublished" pubdate="">10 January 2019</time></li>
      <li class="meta-author"><span class="fa fa-user" aria-hidden="true"></span><span class="vcard author" itemprop="name"><span class="fn">Marc Eiro</span></span></li>
      <!-- <li class="meta-comments comment-scroll"><span class="fa fa-comment" aria-hidden="true"></span>23 Comments</li> -->
    </ul>
    <div class="single-blog-content entry " itemprop="text">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
        amet..", comes from a line in section 1.10.32.
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by
          English versions from the 1914 translation by H. Rackham.</p>
        <p>&nbsp;</p>
    </div>
  </article>
</div>