.home-container {
  -webkit-font-smoothing: antialiased;
  overflow              : auto;
  background            : white;
  height                : 100%;
  display               : table;
  padding               : 50px 0;
}

.news-container {
  padding    : 50px 20%;
  font-family: Montserrat, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size  : 12px;
  line-height: 1.65;
  color      : #666;
}

.welcome {
  position        : relative;
  background-image: url("/assets/eiger-welcome.png");
  height          : 500px;
  width           : 100%;
}

.welcome-text {
  color           : black;
  font-family     : 'Comfortaa';
  font-size       : 13px;
  text-align      : justify;
  background-color: white;
  position        : absolute;
  margin          : 200px 10% 0;
  padding         : 50px;
  width           : 80%;
  height          : 330px;
}

.meta {
  list-style: none;
  margin    : 0 0 40px -40px;
  font-size : 0.923em;
  color     : #777;
  border    : none;
}

.meta li {
  margin       : 0;
  float        : left;
  padding-right: 15px;
}

.meta li span {
  padding-right: 5px;
}

.comment {
  margin-bottom: -15px;
}

.comment p {
  margin: 0;
}

.single-blog-content {
  text-align : left;
  font-size  : 13px;
  padding-top: 10px;
}

.first {
  margin-top: 100px;
}

.separator {
  margin       : 15px 25%;
  border-bottom: 1px solid #ced6e0;
}

.photo-container {
  width        : 100%;
  height       : calc(100vh - 50%);
  margin-bottom: 15px;
}

.double-column-left {
  float        : left;
  width        : 50%;
  height       : 100%;
  object-fit   : cover;
  border-radius: 10px 0 0 10px;
  box-shadow   : 0 0 1px 1px #d96459;
  margin-bottom: 15px;
}

.double-column-right {
  float        : right;
  width        : 50%;
  height       : 100%;
  object-fit   : cover;
  border-radius: 0 10px 10px 0;
  box-shadow   : 0 0 1px 1px #d96459;
  margin-bottom: 15px;
}

.end {
  margin-bottom: 0;
}

.g-recaptcha {
  z-index                 : 1;
  float                   : left;
  -webkit-transform       : scale(0.85);
  transform               : scale(0.85);
  -webkit-transform-origin: 0 0;
  transform-origin        : 0 0;
  margin-top              : 5px;
}

.modal-footer {
  float  : right;
  padding: 0 15px 15px 0;
}

.modal-footer,
.modal-header {
  border: none;
}

.close {}

button {
  font-size          : 14px;
  font-weight        : bold;
  line-height        : 14px;
  height             : 30px;
  /* padding            : 4px 20px 5px; */
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  text-decoration    : none;
  /* color              : #fff;
  border-color       : #1976d2;
  border-radius      : 3px;
  background         : #1976d2; */
}

.alert-danger {
  height : 25px;
  padding: 3px 15px;
}

.comment > .meta > .meta-date {
  float        : right;
  margin-right : 0;
  padding-right: 0;
}

h1 {
  font-size: 30px;
}

p {
  text-align: justify;
  font-size : 12px;
}

video {
  width        : 100%;
  height       : 100%;
  border-radius: 10px;
  box-shadow   : 0 0 1px 1px #d96459;
  margin-bottom: 15px;
}

input {
  height: 25px;
}

form,
input,
label,
textarea {
  font-size: 11.5px;
}
@media (max-width: 570px) {
  .news-container {
    padding: 50px 10%;
  }
}