.navigation-bar {
  position        : absolute;
  /* color blue: #1976d2; */
  /*  color red: #d96459 */
  background-color: #d96459;
  font-family     : "maven Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-size       : 14px;
  box-shadow      : 0 2px 5px 0 rgba(0, 0, 0, .3);
  width           : 100%;
  min-width       : 340px;
  height          : 40px;
  z-index         : 4;
}

.navigation-links {
  float: right;
}

.logo-container {
  margin: -7px 0 0 12px;
  float : left;
}

.logo {
  height: 50px;
}

ul {
  list-style-type: none;
  margin-right   : 0;
  padding        : 0;
}

ul li {
  float: left;
}

li a {
  display        : block;
  color          : white;
  text-align     : center;
  padding        : 8px 12px;
  text-decoration: none;
}

li a:hover {
  color: #fff200;
}
@media (max-width: 740px) {
  .navigation-bar {
    min-height: 37px;
    height    : auto;
  }

  .navigation-links {
    margin   : 0;
    font-size: 12px;
  }

  .logo-container {
    float     : left;
    margin-top: -4px;
  }

  .logo {
    height: 45px;
  }

  ul li {
    white-space: nowrap;
    float      : left;
  }

  li a {
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .navigation-links {
    font-size: 10px;
  }
}