<div class="upcoming-container">
    <div class="upcoming-text">
      <p>All upcoming races for 2018 are listed down below:</p>
    </div>
    <div class="container-table100">
        <div class="table100">
            <table>
                <thead>
                  <tr class="row100 head">
                    <th class="cell100 column1">Race / Event</th>
                    <th class="cell100 column2">Date</th>
                    <th class="cell100 column3">Country</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column1">Transylvania 80K</td>
                        <td class="cell100 column2">16.05.2018</td>
                        <td class="cell100 column3">Romania</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Eiger Ultra Trail E101</td>
                        <td class="cell100 column2">15.07.2018</td>
                        <td class="cell100 column3">Switzerland</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">UTMB CCC</td>
                        <td class="cell100 column2">31.08.2018</td>
                        <td class="cell100 column3">France</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Ultra Pirineu</td>
                        <td class="cell100 column2">29.09.2018</td>
                        <td class="cell100 column3">Catalonia</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Transylvania 80K</td>
                        <td class="cell100 column2">16.05.2018</td>
                        <td class="cell100 column3">Romania</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Eiger Ultra Trail E101</td>
                        <td class="cell100 column2">15.07.2018</td>
                        <td class="cell100 column3">Switzerland</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">UTMB CCC</td>
                        <td class="cell100 column2">31.08.2018</td>
                        <td class="cell100 column3">France</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Ultra Pirineu</td>
                        <td class="cell100 column2">29.09.2018</td>
                        <td class="cell100 column3">Catalonia</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Transylvania 80K</td>
                        <td class="cell100 column2">16.05.2018</td>
                        <td class="cell100 column3">Romania</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Eiger Ultra Trail E101</td>
                        <td class="cell100 column2">15.07.2018</td>
                        <td class="cell100 column3">Switzerland</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">UTMB CCC</td>
                        <td class="cell100 column2">31.08.2018</td>
                        <td class="cell100 column3">France</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column1">Ultra Pirineu</td>
                        <td class="cell100 column2">29.09.2018</td>
                        <td class="cell100 column3">Catalonia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
