<div class="timeline-container">
    <ul class="timeline">
        <li>
            <div class="direction-l">
                <div class="year-wrapper">
                    <span class="year" (click)="toggleYear(2018)">2018</span>
                </div>
            </div>
        </li>
        <div class="yearContainer" [ngStyle]="showHideYearContent(2018)">
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Transylvania 80K</span>
                        <span class="time-wrapper">
                            <span class="time">19.05.2018</span>
                        </span>
                    </div>
                    <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</div>
                </div>
            </li>
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Lavaredo Ultra Trail</span>
                        <span class="time-wrapper">
                            <span class="time">13.06.2017</span>
                        </span>
                    </div>
                    <div class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</div>
                </div>
            </li>
        </div>
        <li>
            <div class="direction-l">
                <div class="year-wrapper">
                    <span class="year" (click)="toggleYear(2017)">2017</span>
                </div>
            </div>
        </li>
        <div class="yearContainer" [ngStyle]="showHideYearContent(2017)">
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Transgrancanaria 80K</span>
                        <span class="time-wrapper">
                            <span class="time">26.02.2017</span>
                        </span>
                    </div>
                    <div class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</div>
                </div>
            </li>
        </div>
        <li>
            <div class="direction-l">
                <div class="year-wrapper">
                    <span class="year" (click)="toggleYear(2016)">2016</span>
                </div>
            </div>
        </li>
        <div class="yearContainer" [ngStyle]="showHideYearContent(2016)">
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Trail Vielha-Molieres</span>
                        <span class="time-wrapper">
                            <span class="time">15.07.2107</span>
                        </span>
                    </div>
                    <div class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</div>
                </div>
            </li>
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Matterhorn Ultraks</span>
                        <span class="time-wrapper">
                            <span class="time">14.08.2017</span>
                        </span>
                    </div>
                    <div class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web</div>
                </div>
            </li>
        </div>
        <li>
            <div class="direction-l">
                <div class="year-wrapper">
                    <span class="year" (click)="toggleYear(2015)">2015</span>
                </div>
            </div>
        </li>
        <div class="yearContainer" [ngStyle]="showHideYearContent(2015)">
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Eiger Ultra Trail E51</span>
                        <span class="time-wrapper">
                            <span class="time">15.06.2107</span>
                        </span>
                    </div>
                    <div class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</div>
                </div>
            </li>
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Ultra Skymarathon Madeira</span>
                        <span class="time-wrapper">
                            <span class="time">14.08.2017</span>
                        </span>
                    </div>
                    <div class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web</div>
                </div>
            </li>
        </div>
    </ul>
</div>
