<div class="intro-container">
    <a href="/home">
        <img class="background" alt="" src="../assets/test-1.png">
        <img class="logo" src="../assets/logoMakr.png">
        <!-- <a class="enter" href="/home">Click to enter...</a> -->
    </a>

    <!-- sliding door effect -->
    <!-- <input type="checkbox" checked>
    <div class="curtain top-slide">
        <img class="background-top" alt="" src="../assets/intro.png">
        <img class="logo" src="../assets/logoMakr.png">
    </div> -->

    <!-- split screen effect -->
    <!-- <div class="top-curtain top-slide">
        <img class="background-top" alt="" src="../assets/intro.png">
        <img class="logo" src="../assets/logoMakr.png">
    </div>
    <div class="bottom-curtain bottom-slide">
        <img class="background-bottom" alt="" src="../assets/intro.png">
    </div> -->
</div>
