.timeline-container {
  padding               : 50px 20px 0;
  overflow              : auto;
  font-family           : "Effra", Helvetica, sans-serif;
  color                 : #768390;
  background            : white;
  -webkit-font-smoothing: antialiased;
}

.example-header {
  background : #3D4351;
  color      : #FFF;
  font-weight: 300;
  padding    : 3em 1em;
  text-align : center;
}

.example-header h1 {
  color        : #FFF;
  font-weight  : 300;
  margin-bottom: 20px;
}

.example-header p {
  font-size     : 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight   : 700;
}

.container-fluid .row {
  padding: 0;
}

.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align   : center;
  margin-bottom: 60px;
  padding      : 3em 0;
  border-bottom: 1px solid #E4EAEC;
}

.example-title p {
  margin   : 0 auto;
  font-size: 16px;
  max-width: 400px;
}
/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style : none;
  margin     : 0;
  padding    : 0;
  width      : 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position    : relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size     : 12px;
  font-weight   : 700;
  letter-spacing: 3px;
  margin        : 0 0 0.5em;
  text-transform: uppercase;
  white-space   : nowrap;
  padding-left  : 15px;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top     : 0;
  bottom  : 0;
  left    : 0;
  width   : 15px;
}

.timeline-marker:before {
  background   : #ffc202;
  border       : 8px solid transparent;
  border-radius: 100%;
  content      : "";
  display      : block;
  height       : 10px;
  position     : absolute;
  top          : 4px;
  left         : 0;
  width        : 10px;
  transition   : background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content   : "";
  width     : 3px;
  background: #CCD5DB;
  display   : block;
  position  : absolute;
  top       : 24px;
  bottom    : 0;
  left      : 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border    : 8px solid #10ac84;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
  padding-right : 25px;
}

.timeline-content p {
  font-family: "Comfortaa";
  font-size  : 13px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background   : transparent;
  content      : "";
  width        : 15px;
  height       : auto;
  border       : none;
  border-radius: 0;
  top          : 0;
  bottom       : 30px;
  position     : absolute;
  border-top   : 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker-first:before {
  border-top: 0;
}

.period .timeline-marker:after {
  content: "";
  height : 32px;
  top    : auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.period .timeline-title {
  margin: 0;
}

.race-name:hover {
  cursor: pointer;
  color : #d96459;
}
/*----------------------------------------------
    Gallery styles
----------------------------------------------*/
.show {
  display: table-row;
}
/* Styles for image modal display dialog  */
.popup {
  width   : 100%;
  height  : 100%;
  display : none;
  position: fixed;
  top     : 0;
  right   : 0;
  z-index : 1;
}

.popup-image {
  width             : 100%;
  -webkit-box-shadow: 0 0 1px 1px rgba(249, 65, 37, 1);
  -moz-box-shadow   : 0 0 1px 1px rgba(249, 65, 37, 1);
  box-shadow        : 0 0 1px 1px rgba(249, 65, 37, 1);
}

.show-popup {
  display: flex;
}

.popup:before {
  content         : '';
  box-sizing      : border-box;
  width           : 100%;
  background-color: #3A3A3A;
  position        : fixed;
  left            : 0;
  top             : 50%;
  will-change     : height, top;
  animation       : open-animation 0.4s cubic-bezier(0.83, 0.04, 0, 1.16) 0.55s both;
}

.popup:after {
  content         : '';
  width           : 0;
  height          : 2px;
  background-color: #3A3A3A;
  will-change     : width, opacity;
  animation       : line-animation 0.4s cubic-bezier(0.83, 0.04, 0, 1.16) both;
  position        : absolute;
  top             : 50%;
  left            : 0;
  margin-top      : -1px;
  text-rendering  : optimizeLegibility;
}

.popup-block {
  box-sizing : border-box;
  position   : relative;
  top        : 22px;
  align-items: center;
  margin     : auto;
  animation  : fade 0.3s ease-out 0.8s both;
}

.popup-close {
  margin-top: 50px;
  width     : 1.2rem;
  height    : 1.2rem;
  position  : fixed;
  top       : 20px;
  right     : 20px;
}

.carousel-image-landscape {
  /* for optimal rendering of images in screen, do not make them bigger than 2200x1600 pixels */
  width    : 80%;
  max-width: 1024px;
}

.carousel-image-portrait {
  width      : 76%;
  max-width  : 600px;
  margin-left: 12%;
}

.close {
  margin         : 38px 10px 0 0;
  text-shadow    : none;
  position       : fixed;
  top            : 3.5rem;
  right          : 0.5rem;
  align-items    : center;
  justify-content: center;
  width          : 1.5rem;
  height         : 1.5rem;
  border         : none;
  font-size      : 1.5rem;
  transition     : 0.25s linear;
  border-radius  : 25px;
  color          : tomato;
}

.close:hover {
  transform: rotate(360deg);
}

.fa-times-circle {
  color         : rgb(235, 235, 235);
  text-rendering: optimizeLegibility;
}
@media (max-width: 767px) {
  .timeline-container {
    padding: 50px 20px 0 35px;
  }

  .timeline-marker:before {
    top: 20px;
  }

  .timeline-marker:after {
    top: 55px;
  }

  .timeline-info {
    font-size   : 10px;
    padding-left: 0;
    margin      : 0;
  }

  .timeline-content > h3,
  h2 {
    font-size: 22px;
  }

  .timeline-content > p {
    font-size: 10px;
  }
}
@media (min-width: 556px) {
  .close {
    top: 17px;
  }
}
@media (max-height: 580px) {
  .carousel-image-portrait {
    max-width: 350px;
  }
}
@media (min-width: 768px) {
  .timeline-centered .timeline,
  .timeline-split .timeline {
    display: table;
  }

  .timeline-centered .timeline-item,
  .timeline-split .timeline-item {
    display: table-row;
    padding: 0;
  }

  .timeline-centered .period .timeline-info,
  .timeline-centered .timeline-content,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-split .period .timeline-info,
  .timeline-split .timeline-content,
  .timeline-split .timeline-info,
  .timeline-split .timeline-marker {
    display       : table-cell;
    vertical-align: top;
  }

  .timeline-centered .timeline-marker,
  .timeline-split .timeline-marker {
    position: relative;
  }

  .timeline-centered .timeline-content,
  .timeline-split .timeline-content {
    padding-left: 15px;
  }

  .timeline-centered .timeline-info,
  .timeline-split .timeline-info {
    padding-right: 15px;
  }

  .timeline-centered .period .timeline-title,
  .timeline-split .period .timeline-title {
    position: relative;
    left    : -45px;
  }
}
@media (min-width: 1080px) {
  .carousel-image-landscape {
    max-width: 1280px;
  }

  .carousel-image-portrait {
    max-width: 700px;
  }
}
@media (min-width: 1480px) {
  .carousel-image-landscape {
    max-width: 1480px;
  }

  .carousel-image-portrait {
    max-width: 800px;
  }
}
@keyframes line-animation {
  0% {
    width  : 0;
    opacity: 1;
  }

  99% {
    width  : 100%;
    opacity: 1;
  }

  100% {
    width  : 100%;
    opacity: 0;
  }
}
@keyframes open-animation {
  0% {
    height: 0;
    top   : 50%;
  }

  100% {
    height: 100vh;
    top   : 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color     : #666;
  margin-top: 0;
}

img,
video {
  border       : 1px solid #626567;
  border-radius: 10px;
}

img {
  margin: 0 0 0 10%;
}

video {
  width  : 70%;
  padding: 0;
  margin : 0 0 5% 15%;
}
/* trick to remove the blue outline border selector from focused items in Chrome: */
/* https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome */
*:focus {
  outline: none;
}