<div class="timeline-container">
  <div class="container-fluid">
    <div class="row example-split">

      <ul class="timeline timeline-split">
        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker timeline-marker-first"></div>
          <div class="timeline-content">
            <h2 class="timeline-title year">2019</h2>
          </div>
        </li>
        <li *ngFor="let race of races2019" class="timeline-item">
          <div class="timeline-info"><span>{{race.date | date:'d MMMM yyyy'}}</span></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title race-name" (click)="gallery = !gallery; raceSelected = race;">{{race.name}}</h3>
            <p>{{race.description}}</p>
          </div>
        </li>
        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h2 class="timeline-title year">2018</h2>
          </div>
        </li>
        <li *ngFor="let race of races2018" class="timeline-item">
          <div class="timeline-info"><span>{{race.date | date:'d MMMM yyyy'}}</span></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title race-name" (click)="gallery = !gallery; raceSelected = race;">{{race.name}}</h3>
            <p>{{race.description}}</p>
          </div>
        </li>
        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h2 class="timeline-title year">2017</h2>
          </div>
        </li>
        <li *ngFor="let race of races2017" class="timeline-item">
          <div class="timeline-info"><span>{{race.date | date:'d MMMM yyyy' }}</span></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title race-name" (click)="gallery = !gallery; raceSelected = race;">{{race.name}}</h3>
            <p>{{race.description}}</p>
          </div>
        </li>
        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content year">
            <h2 class="timeline-title">2016</h2>
          </div>
        </li>
        <li *ngFor="let race of races2016" class="timeline-item">
          <div class="timeline-info"><span>{{race.date | date:'d MMMM yyyy' }}</span></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title race-name" (click)="gallery = !gallery; raceSelected = race;">{{race.name}}</h3>
            <p>{{race.description}}</p>
          </div>
        </li>
        <li class="timeline-item period">
          <div class="timeline-info"></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content year">
            <h2 class="timeline-title">2015</h2>
          </div>
        </li>
        <li *ngFor="let race of races2015" class="timeline-item">
          <div class="timeline-info"><span>{{race.date | date:'d MMMM yyyy' }}</span></div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title race-name" (click)="gallery = !gallery; raceSelected = race;">{{race.name}}</h3>
            <p>{{race.description}}</p>
          </div>
        </li>
      </ul>

      <!--  gallery  -->
      <div class="popup" [ngClass]="{'show-popup' : gallery}">
        <div class="popup-block">
          <ngb-carousel *ngIf="raceSelected">
            <ng-template ngbSlide *ngFor="let image of raceSelected.images">

              <ng-template [ngIf]="isImage(image)" [ngIfElse]="loggedOut">
                <img [ngClass]="setImageClass(image)" [src]="image" alt="{{raceSelected.name + image}}">
              </ng-template>

              <ng-template #loggedOut>
                <video controls muted>
                  <source [src]="image" type="video/mp4"></video>
              </ng-template>

            </ng-template>
          </ngb-carousel>

          <button (click)="closeGallery()" (keydown.esc)="closeGallery()" class="close" [ngClass]="{'popup-close' : gallery}" autofocus><i class="far fa-times-circle"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>