/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html,
body {
  height: 100%;
  width: 100%;
}

::selection {
  color: red;
  background: yellow;
}