.footer {
  position        : relative;
  background-color: #d96459;
  height          : 24px;
}

footer {
  /* Fix for issue in the footer section whereas its height is bigger than its div height */
  margin-top: -16px;
}

.link-icon {
  margin : 0;
  padding: 0;
}

.placeholder {
  font-family: "maven Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-size  : 10px;
  width      : calc(100vw - 115px);
  padding    : 5px 20px 0 0;
}

ul {
  list-style-type: none;
  text-align     : right;
}

ul li {
  float: left;
}

li a {
  display        : block;
  color          : white;
  padding        : 0 10px;
  text-decoration: none;
}

li a:hover {
  color: #fff200;
}
@media (max-width: 768px) {
  .footer {
    height: 21px;
  }

  .placeholder {
    font-size : 9px;
    margin-top: -1px;
    width     : calc(100vw - 100px);
  }

  i {
    font-size: 13px;
  }

  ul li {
    height: 20px;
  }

  li a {
    margin-top   : -3px;
    padding-right: 5px;
  }
}