<footer class="footer">
  <ul>
    <li>
      <!-- <a class="link-icon" href="" target="_blank">
        <i class="fab fa-twitter"></i>
      </a> -->
    </li>
    <li>
      <a class="link-icon" href="https://www.instagram.com/marc.eiro/?hl=en" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a class="link-icon" href="https://www.strava.com/athletes/11863055" target="_blank">
        <i class="fab fa-strava"></i>
      </a>
    </li>
    <li class="trademark"><span>Powered by SEMCO &trade;</span></li>
  </ul>
</footer>