.footer {
  position        : relative;
  background-color: #d96459;
  height          : 24px;
  /* min-width       : 415px; */
}

footer {
  /* Fix for issue in the footer section whereas its height is bigger than its div height */
  margin-top: -16px;
}

.link-icon {
  margin : 0;
  padding: 0;
}

.trademark {
  font-family: "maven Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-size  : 10px;
  padding    : 5px 20px 0 0;
}

ul {
  list-style-type: none;
  text-align     : right;
  padding-right  : 13px;
}

ul li {
  float: right;
}

li a {
  display        : block;
  color          : white;
  padding-left   : 15px;
  text-decoration: none;
}

li a:hover {
  color: #fff200;
}
@media (max-width: 768px) {
  .footer {
    height: 21px;
  }

  .trademark {
    font-size : 9px;
    margin-top: -1px;
    padding   : 5px 0 0;
  }

  i {
    font-size: 13px;
  }

  ul {
    padding-right: 8px;
  }

  ul li {
    height      : 20px;
    padding-left: 8px;
  }

  li a {
    margin-top  : -3px;
    padding-left: 10px;
  }
}
@media (min-height: 1200px) {
  .footer {
    height: 30px;
  }

  .trademark {
    padding: 10px 0 0;
  }
}